<article class="content" xmlns="http://www.w3.org/1999/html">



    <a id='linkButton'>ClickMe</a>

    <script type="text/javascript">

            toastr.options.timeOut = 1500; // 1.5s
            toastr.info('Page Loaded!');
            $('#linkButton').click(function() {
                toastr.success('Click Button');
            });

    </script>

    <div class="createHero">

        <div id="gif">
            <div class="loading"></div>
        </div>
      <h1><%=: 'Create New Hero' | translate %></h1>

        <form action="/admin/heroCategories/create" method="post">

            <div class="row">
                <div class="col-md-6 oneInput">
                    <label><%=: 'name category' | translate %></label>
                    <input type="text" name="name"></div>


            </div>

            <div class="row">
                <div class="col-md-4 btn-upload"><a class="btn btn-default"
                                                    id="btn_choosefile"><%=: 'upload image' | translate %></a></div>

                <input type="hidden" name="imageUrl">
                <div class="col-md-8">
                    <label><%=: 'upload image' | translate %></label>

                    <div id="uploader">
                        <div id="drop_element" class="draging-box">
                            DRAG IMAGE OR FILE
                        </div>
                        <img src="" id="uploadedFile" style="display: none">
                        <input type="hidden" name="image" id="imageUrl">
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center; margin: 50px 0;">
                    <button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary"
                            autocomplete="off">
                        <%=: 'save' | translate %>
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-md-12 edit-button"><a href="/admin/heroCategories"><button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-edit" autocomplete="off">
                            edit itemHero
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button></a></div>
            </div>

        </form>
    </div>
</article><script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/public/bower_components/plupload/js/plupload.full.min.js"></script>
<script>
    window.JalaliDate = Date;
</script>


<script>
    var uploader = new plupload.Uploader({
        container: document.getElementById('uploader'),
        browse_button: 'btn_choosefile',
        runtimes: 'html5,flash,silverlight,html4',
        url: "/api/upload",
        filters: [
            {title: "Image files", extensions: "jpg,gif,png"},
        ],
        drop_element: 'drop_element',
        dragdrop: true,

        init: {
            FileUploaded: function (file, up, res) {
                debugger;

                var fileInfo = JSON.parse(res.response);

                $('#imageUrl').val(fileInfo.fileName);
                $('#uploadedFile').attr('src', fileInfo.displayFileName);
                debugger;
                $('#uploadedFile').show();
                debugger;
            },
            FilesAdded: function (up, file) {
                debugger;
                up.start();
            }
        }
    });
    uploader.init();
    </script>

<!--loading-->
<script>

    $('.createHero').submit(function(){
        $('#gif').css('visibility' , 'visible');
        debugger
        $('button:submit').attr("disabled", true);
        return true
    })


</script>