<article class="content">
    <div class="  createHero">
        <h1>List Item</h1>
        <div class="row">
            <div class="col-md-12">
                <h1 class="filter-herolist">filtering</h1>

                <div class="col-md-12 new-item"><a href="/admin/hero/create">
                        <button type="button" id="loading-example-btn" data-loading-text="Loading..."
                                class="btn btn-primary" autocomplete="off">
                            new hero
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button>


                    </a></div>


                <ul class="list-hero-edit">
                    <% heros.forEach(function(hero){ %>

                    <li>
                        <a>
                            <div class="listhero-name"><%= hero.name %></div>
                        </a>

                        <div>
                            <a href="/admin/hero/edit/<%= hero._id %>">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="/admin/hero/delete/<%= hero._id %>">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                            <a href="/hero/changePrice/<%= hero._id %>">
                                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                            </a>


                            <!-- Button trigger modal -->
                            <a href="#" id="showAddDiscount"  class="showModal" hero-id="<%= hero._id %>">
                                <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
                            </a>

                            <!-- Modal -->
<<<<<<< HEAD

=======
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">

                                            <form name="form" action="/api/admin/specialItem/addDiscount/<%= hero._id %>" method="post">
                                                <div class="row content-modal ">

                                                    <div class="col-md-6">
                                                        <label>discount price</label>
                                                        <input type="text" name="priceDiscount">
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label>Rate</label>
                                                        <input type="text" name="rateDiscount">
                                                    </div>
                                                </div>
                                            </form>


                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button id="btnAddDiscount" type="submit" class="btn btn-primary">Save
                                                    Discount
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
>>>>>>> 0ad2b7ef594a54b350161e77d7ce661f01551cce
                        </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</article>
<form id="discountForm"
      action="">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">


                    <div class="row content-modal ">

                        <div class="col-md-6">
                            <label>discount price</label>
                            <input type="text" name="priceDiscount" id="priceDiscount">
                        </div>

                        <div class="col-md-6">
                            <label>Rate</label>
                            <input type="text" name="rateDiscount" id="rateDiscount">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>


                        <input type="submit" value="Save">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(function () {

        //init ...
        $('#myModal').modal({
            show: false
        });

        $('.showModal').click(function () {
            debugger;
            var id = $(this).attr('hero-id');
            var url = '/api/admin/specialItem/addDiscount/' + id;
            $('#discountForm').attr("action", url);

            $('#myModal').modal('show');
        });

<<<<<<< HEAD
        $('#discountForm').submit(function (e) {


            var form = $(this);
=======
</script>
<script>
    <% heros.forEach(function(hero){ %>

    $("#btnAddDiscount").click(function () {
>>>>>>> 0ad2b7ef594a54b350161e77d7ce661f01551cce

     /*   $('.form').submit(function(){
     })*/

        $('.form').on('submit', function (e) {
debugger;
            e.preventDefault();

            var form = $(this);

<<<<<<< HEAD
            e.preventDefault();

            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (data) {

                },
                error: function () {
                    alert('There has been an error, please alert us immediately');
                }
            });
            window.location.href = "/admin/heros";

        })

=======
            $.ajax({
                type: 'post',
                dataType: 'json',
                data: form.serialize(),
                success: function () {
                    console.log('success add discount');
                },
                url: "/api/admin/specialItem/addDiscount/<%= hero._id %>"


            })
            window.location.href = '/admin/heros'
        });
>>>>>>> 0ad2b7ef594a54b350161e77d7ce661f01551cce
    })
</script>



