<link rel="stylesheet" href="/public/css/kendo/kendo.common.min.css">
<link rel="stylesheet" href="/public/css/kendo/kendo.material.min.css">
<link rel="stylesheet" href="/public/css/kendo/kendo.rtl.min.css">

<article class="content">
    <div class="createHero">
        <h1><%=: 'Edit Item' | translate %></h1>

        <form class="create-form" action="/admin/hero/edit/<%= hero._id %>" method="post">
            <div id="gif">
                <div class="loading"></div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label><%=: 'Item Name' | translate %></label>
                    <input required type="text" class="create-input" name="name" value="<%= hero.name %>"></div>
                <!--JSON.stringify(cat)-->
                <div class="col-md-6 col-sm-12 combobox">
                    <label style="    padding-right: 25%;"><%=: 'Select Hero' | translate %></label>
                    <input required style=" width: 75%; border: 1px solid #A9A9A9; " id="categories">
                    <input required type="hidden" name="category" id="category" value="<%= JSON.stringify(hero.category)%>">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label><%=: 'Item Price' | translate %></label>
                    <input required class="create-input" type="text" name="price" value="<%= hero.price %>">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 btn-upload"><a class="btn btn-default"
                                                    id="btn_choosefile"><%=: 'upload image' | translate %></a>
                </div>


                <div class="col-md-8">
                    <label><%=: 'upload image' | translate %></label>

                    <div id="uploader">
                        <div id="drop_element" class="draging-box">
                            DRAG IMAGE OR FILE
                        </div>
                        <img src="" id="uploadedFile" style="display: none">
                        <input type="hidden" name="image" id="imageUrl">
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center; margin: 50px 0;">
                    <button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary"
                            autocomplete="off">
                        <%=: 'save' | translate %>
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>


    </div>

</article>

<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/public/bower_components/plupload/js/plupload.full.min.js"></script>
<script>
    window.JalaliDate = Date;
</script>
<script src="/public/js/kendo.all.2015.2.624.hasPersian.js"></script>

<script>
    var uploader = new plupload.Uploader({
        container: document.getElementById('uploader'),
        browse_button: 'btn_choosefile',
        runtimes: 'html5,flash,silverlight,html4',
        url: "/api/upload",
        filters: [
            {title: "Image files", extensions: "jpg,gif,png"},
        ],
        drop_element: 'drop_element',
        dragdrop: true,

        init: {
            FileUploaded: function (file, up, res) {
                debugger;

                var fileInfo = JSON.parse(res.response);

                $('#imageUrl').val(fileInfo.fileName);
                $('#uploadedFile').attr('src', fileInfo.displayFileName);
                debugger;
                $('#uploadedFile').show();
                debugger;
            },
            FilesAdded: function (up, file) {
                debugger;
                up.start();
            }
        }
    });
    uploader.init();

    var combo = $('#categories').kendoComboBox({
        dataTextField: 'name',
        dataValueField: '_id',
        filter: "contains",
        autoBind: false,
        minLength: 3,
        dataSource: {
            serverFiltering: true,
            transport: {
                read: {
                    url: '/api/categories'
                }
            }
        },
        select: function (e) {
            var dataItem = this.dataItem(e.item.index());
            $('#category').val(JSON.stringify(dataItem));
        }
    }).data('kendoComboBox');

debugger;
    var categoryId = '<%= hero.category._id%>';

    combo.value(categoryId);
</script>

<!-- loading-->
<script>
    debugger;
    $('.create-form').submit(function () {
        debugger;
        $('#gif').css('visibility', 'visible');
        debugger
        $('button:submit').attr("disabled", true);
        debugger;
        return true
    })


</script>