<article class="content">
    <div class="  createHero">
        <h1>List Item</h1>
        <div class="row">
            <div class="col-md-12">
                <h1 class="filter-herolist">filtering</h1>

                <div class="col-md-12 new-item"><a href="/admin/hero/create">
                        <button type="button" id="loading-example-btn" data-loading-text="Loading..."
                                class="btn btn-primary" autocomplete="off">
                            new hero
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button>


                    </a></div>


                <ul class="list-hero-edit">
                    <% heros.forEach(function(hero){ %>

                    <li>
                        <a>
                            <div class="listhero-name"><%= hero.name %></div>
                        </a>

                        <div>
                            <a href="/admin/hero/edit/<%= hero._id %>">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="/admin/hero/delete/<%= hero._id %>">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>

                            <a href="#" class="showPriceModal" price-id="<%= hero._id%>"  >
                                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                            </a>



                            <a href="#" id="showAddDiscount"  class="showModal" hero-id="<%= hero._id %>">
                                <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
                            </a>


                            <a  class="showModalundiscount" id="btnUnDiscount" discount-id="<%= hero._id %>">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </a>

                        </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</article>

<!-- modal remve discount -->
<form id="remve-discountForm"
      action="">
    <div class="modal modal-undiscount fade" id="mymodal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">


                    <div class="row content-modal ">

                        <p>you sure</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>


                        <input type="submit" value="Save">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(function(){
        $('.modal-undiscount').modal({
            show: false
        });
        $('.showModalundiscount').click(function(){
            var id= $(this).attr('discount-id');
            var url= '/api/admin/hero/undiscount/' + id;
            debugger;
            $('#remve-discountForm').attr("action", url);
            $('.modal-undiscount').modal('show');
            debugger;
        }) ;
        $('#remve-discountForm').submit(function(e){
            debugger;
            var form = $(this);
            e.preventDefault();
            debugger;
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (data) {

                },
                error: function () {

                }
            });

            window.location.href = "/admin/heros";
        })
    })

</script>
<!-- end modal remve discount-->


<!-- modal add discount -->
<form id="discountForm"
      action="">
    <div class="modal fade " id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">


                    <div class="row content-modal ">

                        <div class="col-md-6">
                            <label>discount price</label>
                            <input type="text" name="priceDiscount" id="priceDiscount">
                        </div>

                        <div class="col-md-6">
                            <label>Rate</label>
                            <input type="text" name="rateDiscount" id="rateDiscount">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>


                        <input type="submit" value="Save">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {

        //init ...
        $('#myModal').modal({
            show: false
        });

        $('.showModal').click(function () {

            var id = $(this).attr('hero-id');
            var url = '/api/admin/specialItem/addDiscount/' + id;
            $('#discountForm').attr("action", url);

            $('#myModal').modal('show');
            debugger;
        });

        $('#discountForm').submit(function (e) {
            var form = $(this);
            e.preventDefault();
            debugger;
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (data) {

                },
                error: function () {
                    alert('There has been an error, please alert us immediately');
                }
            });
            window.location.href = "/admin/heros";

        })

    })
</script>
<!-- end modal add discount-->



<!--modal update price hero-->
<form id="changePrice"
      action="">
    <div class="modal modalChangePrice fade" id="mymodal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">


                    <div class="row content-modal ">
                        <label>change price</label>

                       <input type="text" name="changePrice">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>


                        <input type="submit" value="Save">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(function(){
        $('.modalChangePrice').modal
        {
            show:false;
        }
       $('.showPriceModal').click(function(){
           debugger;
           var id = $(this).attr('price-id');
           var  url='/api/admin/hero/changePrice/' + id;
           $('#changePrice').attr("action", url);
           $('.modalChangePrice').modal('show')
           debugger;
       })
        $('#changePrice').submit(function(e){
            e.preventDefault();
            var form= $(this)
            debugger;
            $.ajax({
                type: 'post',
                data:form.serialize(),
                url:form.attr('action'),
                success: function(data) {
                    console.log('success');
                    console.log(JSON.stringify(data));
                }


            })

            window.location.href = "/admin/heros";
        })
    })


</script>
<!-- end modal update price hero-->




<!--
<script type="text/javascript">
    $(function(){
        $('#btnUnDiscount').click(function(e){
            e.preventDefault();
            console.log('select_link clicked');
            var data = {};
            data.title = "title";
            data.message = "message";

            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/api/admin/hero/undiscount/' + $(this).attr('discount-id'),
                success: function(data) {
                    console.log('success');
                    console.log(JSON.stringify(data));
                }
            });

        });
    });
</script>
-->


