<link rel="stylesheet" href="/public/css/kendo/kendo.common.min.css">
<link rel="stylesheet" href="/public/css/kendo/kendo.material.min.css">
<link rel="stylesheet" href="/public/css/kendo/kendo.rtl.min.css">


<article class="content" xmlns="http://www.w3.org/1999/html">
    <div class="createHero">
<h1><%=: 'Create New Item' | translate %></h1>

        <form class="create-form" action="/admin/hero/create" method="post">

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label><%=: 'Item Name' | translate %></label>
                    <input type="text" class="create-input" name="name"></div>
                <!--JSON.stringify(cat)-->
                <div class="col-md-6 col-sm-12">
                    <label style="    padding-right: 25%;"><%=: 'Select Hero' | translate %></label>
                    <input style=" width: 75%; border: 1px solid #A9A9A9; " id="categories">
                    <input type="hidden" name="category" id="category">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label><%=: 'Item Price' | translate %></label>
                    <input class="create-input" type="text" name="price">
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 btn-upload"><a class="btn btn-default"
                                                    id="btn_choosefile"><%=: 'upload image' | translate %></a></div>

                <input type="hidden" name="imageUrl">
                <div class="col-md-8">
                    <label><%=: 'upload image' | translate %></label>

                    <div id="uploader">
                        <div id="drop_element" class="draging-box">
                            DRAG IMAGE OR FILE
                        </div>
                        <img src="" id="uploadedFile" style="display: none">
                        <input type="hidden" name="image" id="imageUrl">
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center; margin: 50px 0;">
                    <button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary"
                            autocomplete="off">
                        <%=: 'save' | translate %>
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-md-12 edit-button"><a href="/admin/heros"><button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-edit" autocomplete="off">
                            edit itemHero
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button></a></div>
            </div>
        </form>


    </div>
</article>

<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/public/bower_components/plupload/js/plupload.full.min.js"></script>
<script>
    window.JalaliDate = Date;
</script>
<script src="/public/js/kendo.all.2015.2.624.hasPersian.js"></script>

<script>
    var uploader = new plupload.Uploader({
        container: document.getElementById('uploader'),
        browse_button: 'btn_choosefile',
        runtimes: 'html5,flash,silverlight,html4',
        url: "/api/upload",
        filters: [
            {title: "Image files", extensions: "jpg,gif,png"},
        ],
        drop_element: 'drop_element',
        dragdrop: true,

        init: {
            FileUploaded: function (file, up, res) {
                debugger;

                var fileInfo = JSON.parse(res.response);

                $('#imageUrl').val(fileInfo.fileName);
                $('#uploadedFile').attr('src', fileInfo.displayFileName);
                debugger;
                $('#uploadedFile').show();
                debugger;
            },
            FilesAdded: function (up, file) {
                debugger;
                up.start();
            }
        }
    });
    uploader.init();

    $('#categories').kendoComboBox({
        dataTextField: 'name',
        dataValueField: '_id',
        filter: "contains",
        autoBind: false,
        minLength: 3,
        dataSource: {
            serverFiltering: true,
            transport: {
                read: {
                    url: '/api/categories'
                }
            }
        },
        select: function (e) {
            var dataItem = this.dataItem(e.item.index());
            $('#category').val(JSON.stringify(dataItem));
        }
    })
</script>

