<article class="content">
    <div class="  createHero">
        <h1>List Item</h1>

        <div class="row">

            <div id="grid"></div>
            <div class="row" style="margin-bottom: 30px;">


                <div class="col-md-3">
                    <label>select item</label>
                    <input id="hero">
                    <input type="hidden" name="hero" id="hero">
                </div>
                <div class="col-md-3">
                    <label><%=: 'Select Hero' | translate %></label>
                    <input id="categories">
                    <input type="hidden" name="category" id="category">
                </div>
                <div class="col-md-3">
                    <label>select rarity</label>
                    <input id="rarity">
                    <input type="hidden" name="rarity" id="rarity">
                </div>
                <div class="col-md-3">
                    <label>select discount </label>
                    <input id="discount">
                    <input type="hidden" name="discount" id="discount">
                </div>
            </div>

            <div class="col-md-12">


                <div class="col-md-12 new-item"><a href="/admin/hero/create">
                        <button type="button" id="loading-example-btn" data-loading-text="Loading..."
                                class="btn btn-primary" autocomplete="off">
                            new hero
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button>


                    </a></div>
                <ul class="list-hero-edit">
                    <li class=" header-admin-edit" style="background-color: #60478a;">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-2">image Item</div>
                                <div class="col-md-4">Name Item</div>
                                <div class="col-md-2">Name Hero</div>
                                <div class="col-md-2">Rarity</div>
                                <div class="col-md-1">Price</div>
                                <div class="col-md-1" style="border-right: 0">Discoun</div>
                            </div>
                        </div>
                        <div class="col-md-2">Edit Item</div>
                    </li>

                    <% heros.forEach(function(hero){ %>

                    <li>
                        <a>
                            <div class="col-md-10 col-sm-8 list-admin-item">
                                <div class="col-md-2"><img class="list-image-admin" src="<%= hero.imageUrl %>"></div>
                                <div class="col-md-4"><%= hero.name %></div>
                                <div class="col-md-2"><%= hero.category.name %></div>
                                <div class="col-md-2">Rarity</div>
                                <div class="col-md-1"><%= hero.price %></div>
                                <div class="col-md-1"><%= hero.discount.isOnDiscount %></div>


                                <!--<span class="list-hero-edit-name"></span>
                                <span class="list-hero-edit-name"></span>-->
                            </div>
                        </a>


                        <div class="col-md-2 col-sm-4 col-xs-12 editicon">
                            <a href="/admin/hero/edit/<%= hero._id %>">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="/admin/hero/delete/<%= hero._id %>">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>

                            <a href="#" class="showPriceModal" price-id="<%= hero._id %>">
                                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                            </a>


                            <a href="#" id="showAddDiscount" class="showModal" hero-id="<%= hero._id %>">
                                <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
                            </a>


                            <a class="showModalundiscount" id="btnUnDiscount" discount-id="<%= hero._id %>">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </a>

                        </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</article>

<!-- modal remove discount -->
<form id="remve-discountForm"
      action="">
    <div id="gif">
        <div class="loading loading-top-modal"></div>
    </div>
    <div class="modal modal-undiscount fade" id="mymodal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%=: 'Remve Discount' | translate %></h4>
                </div>
                <div class="modal-body">


                    <div class="row content-modal ">

                        <p><%=: 'Click Button for Remve Discount' | translate %></p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <%=: 'Close' | translate %>
                        </button>


                        <button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary"
                                autocomplete="off">
                            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                            <%=: 'save' | translate %>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(function () {
        $('.modal-undiscount').modal({
            show: false
        });
        $('.showModalundiscount').click(function () {
            var id = $(this).attr('discount-id');
            var url = '/api/admin/hero/undiscount/' + id;

            $('#remve-discountForm').attr("action", url);
            $('.modal-undiscount').modal('show');

        });
        $('#remve-discountForm').submit(function (e) {

            var form = $(this);
            e.preventDefault();

            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (data) {

                },
                error: function () {

                }
            });

            window.location.href = "/admin/heros";
        })
    })

</script>
<!-- end modal remve discount-->


<!-- modal add discount -->
<form id="discountForm"
      action="">
    <div id="gif">
        <div class="loading loading-top-modal"></div>
    </div>
    <div class="modal fade " id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%=: 'Enter Discount Special Item' | translate %></h4>
                </div>
                <div class="modal-body">


                    <div class="row content-modal ">

                        <div class="col-md-6 col-sm-12">
                            <label> <%=: 'Discount Price' | translate %></label>
                            <input type="text" name="priceDiscount" id="priceDiscount">
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label> <%=: 'Discount Rate' | translate %></label>
                            <input type="text" name="rateDiscount" id="rateDiscount">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <%=: 'Close' | translate %>
                        </button>


                        <button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary"
                                autocomplete="off">
                            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                            <%=: 'save changes' | translate %>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {

        //init ...
        $('#myModal').modal({
            show: false
        });

        $('.showModal').click(function () {

            var id = $(this).attr('hero-id');
            var url = '/api/admin/specialItem/addDiscount/' + id;
            $('#discountForm').attr("action", url);
            debugger;
            $('#myModal').modal('show');

        });

        $('#discountForm').submit(function (e) {
            var form = $(this);
            e.preventDefault();
            debugger;
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (data) {
                    debugger;
                }

            });
            window.location.href = "/admin/heros";

        })

    })
</script>
<!-- end modal add discount-->


<!--modal update price hero-->
<form id="changePrice"
      action="">
    <div id="gif">
        <div class="loading loading-top-modal"></div>
    </div>
    <div class="modal modalChangePrice fade" id="mymodal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%=: 'Enter Price Item' | translate %></h4>
                </div>
                <div class="modal-body">


                    <div class="row content-modal ">
                        <label><%=: 'Item Price' | translate %></label>

                        <input type="text" name="changePrice">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <%=: 'Close' | translate %>
                        </button>


                        <button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary"
                                autocomplete="off">
                            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                            <%=: 'save' | translate %>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>


    /*$(function () {
     $('.modalChangePrice').modal
     {
     show:false;
     }
     $('.showPriceModal').click(function () {

     var id = $(this).attr('price-id');
     var url = '/api/admin/hero/changePrice/' + id;
     $('#changePrice').attr("action", url);
     $('.modalChangePrice').modal('show')

     })
     $('#changePrice').submit(function (e) {
     e.preventDefault();
     var form = $(this)

     $.ajax({
     type: 'post',
     data: form.serialize(),
     url: form.attr('action'),
     success: function (data) {
     console.log('success');
     console.log(JSON.stringify(data));
     }


     })

     window.location.href = "/admin/heros";
     })
     })*/


</script>
<!-- end modal update price hero-->


<!-- loading -->
<script>

    $('#discountForm').submit(function () {
        $('#gif').css('visibility', 'visible');
        debugger
        $('button:submit').attr("disabled", true);
        debugger
        return true
    })


</script>
<script>

    $('#changePrice').submit(function () {
        $('#gif').css('visibility', 'visible');
        debugger
        $('button:submit').attr("disabled", true);
        debugger
        return true
    })


</script>
<script>
    $(function () {
        $('#grid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: '/api/admin/heros'
                },
                parameterMap: function (options, parameters) {

                },
                pageSize: 3,
                serverPaging: true,
                serverFiltering: true,
                schema: {
                    model: {
                        id: '_id',
                        fields: {
                            name: {type: "string"},
                            'category._id': {type: "string"},
                            price: {type: 'number'}
                        }
                    },
                    data: 'data',
                    total: 'total'
                }
            }),
            navigatable: true,
            pageable: true,
            sortable: true,
            columns: [
                {
                    field: 'name',
                    title: 'Name',
                    filterable: {
                        cell:{
                            showOperators: false,
                            operator: 'contains'
                        }
                    }
                },
                {
                    field: 'category._id',
                    title: 'Name Hero',
                    template: '${data.category.name}',
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: 'eq',
                            template: function (args) {
                                debugger;
                                args.element.kendoComboBox({
                                    valuePrimitive: true,
                                    dataTextField: 'name',
                                    dataValueField: '_id',
                                    filter: "contains",
                                    autoBind: false,
                                    minLength: 3,
                                    dataSource: {
                                        serverFiltering: true,
                                        transport: {
                                            read: {
                                                url: '/api/categories'
                                            }
                                        },
                                        schema:{
                                            parse: function (result) {
                                                return result.data;
                                            }
                                        }
                                    }
                                })
                            }
                        }
                    }
                },
                {
                    field: 'price',
                    title: 'Price',
                    filterable: {
                        cell: {showOperators: true}
                    }
                },
                {
                    command: [
                        {
                            text: 'Edit',
                            click: function (e) {
                                debugger;
                                var currentItem = this.dataItem($(e.currentTarget).closest("tr"));
                                alert(JSON.stringify(currentItem));
                            }
                        }
                    ]
                }
            ],
            filterable: {
                mode: 'row',
                /*operators: {
                    string: {contains: 'Contains'},
                    number: {
                        eq: 'Equal to',
                        gte: "Greater than or equal to",
                        gt: "Greater than",
                        lte: "Less than or equal to",
                        lt: "Less than"
                    },
                    date: {
                        gt: "After",
                        lt: "Before",
                        eq: "Equal"
                    }
                }*/
            }
        })
    });

    /*format: "{0:c}*/
</script>


