<article class="content">
    <div class="row ">
        <div class="col-md-8 tab-left">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2500">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>

                </ol>

                <!-- Wrapper for slides -->

                <div class="carousel-inner">

                    <% for(i=0; i<slide.length; i++){%>

                    <div class="item  <%= slide[i]==slide[0] ? "active" : "" %>">


                        <a href="#">
                            <img src="<%= slide[i].imageUrl %>" alt="...">

                            <div class="carousel-item row">
                                <div class="col-md-12">
                                    <h1><%= slide[i].name %> </h1>


                                    <span class="ItemPrice"><%= slide[i].price %></span>
                                </div>
                                <p><%= slide[i].description %></p>
                            </div>
                        </a>





                    </div>


                    <% }; %>

                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <!-- Carousel -->


        </div>

        <div class="col-md-4 col-sm-6 tab-right">

            <% specialHero.forEach(function(specil){ %>


                <a href="#">


                <div class="discounted"><span class="discounted-item"><%= specil.discount.rate%></span></div>
                <img src="<%= specil.imageUrl%>">

                <div class="discounted-box-text"><p>description</p></div>
                </div>
                </a>

                <div class="item-info">
                <div class="item-name"><%= specil.name %></div>
                <div>name hero</div>
                <div>
                <span>40$</span>
                <span>60$</span>
                </div>
                <div>time discounted</div>
                </div>

            <% }); %>




        </div>
    </div>

    <div class="col-md-4 col-sm-6 tab-right">
        <a href="#">
            <div class="discounted-box"><h1>TREASURE SPOTLIGHT</h1>

                <div class="discounted"><span class="discounted-item">50%</span></div>
                <img src="../../public/images/item-2.png">

                <div class="discounted-box-text"><p>description</p></div>
            </div>
        </a>

    </div>
    </div>

</article>
<script src="../../public/js/bootstrap.min.js"></script>



