<article class="content">
    <div class="row ">
        <div class="col-md-8 tab-left">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2500">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <% for(i=0; i< slide.length; i++){%>

                    <li data-target="#carousel-example-generic" data-slide-to="<%= i%>" class="<%= slide[i] == slide[0] ? "active" : "" %>"></li>
                    
                    <%}%>

                </ol>

                <!-- Wrapper for slides -->

                <div class="carousel-inner">

                    <% for(i = 0; i < slide.length; i++){ %>

                    <div class="item  <%= slide[i] == slide[0] ? "active" : "" %>">


                        <a href="#">
                            <img src="<%= slide[i].imageUrl %>" alt="...">

                            <div class="carousel-item row">
                                <div class="col-md-12">
                                    <h1><%= slide[i].name %> </h1>


                                    <span class="ItemPrice"><%= slide[i].price %></span>
                                </div>
                                <p><%= slide[i].description %></p>
                            </div>
                        </a>


                    </div>

                    <% }; %>

                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <!-- Carousel -->


        </div>
        <div class="tab-right">
            <% specialHero.forEach(function(specil){ %>
            <div class="col-md-4 col-sm-6 specialHero " style="padding: 0;">



                <a href="#">
                    <div class="discounted-box item-box"><h1> SPOTLIGHT</h1>

                        <div class="discounted"><span class="discounted-item"><%= specil.discount.rate %></span></div>
                        <img src="<%= specil.imageUrl %>">


                    </div>
                    <div class="item-info">
                        <div class="item-name"><%= specil.name %></div>
                        <div><%= specil.category.name %></div>
                        <div>


                            <span class="price-textitem" style="width: 45%;"><%=: 'Rial' | translate %></span>
                            <span class="price-hero"><%= specil.price %></span>
                        </div>

                    </div>
                </a>


            </div>
            <% }); %>
        </div>


    </div>
    </div>


</article>
<script src="../../public/js/bootstrap.min.js"></script>



