<article class="content" xmlns="http://www.w3.org/1999/html">
    <div class="createHero">

<h1><%=: 'Create New Slide' | translate %></h1>

        <form class="create-slide" action="/admin/slideshow/create" method="post">
            <div id="gif">
                <div class="loading"></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><%=: 'Item Name' | translate %></label>
                    <input type="text" name="name"></div>
                <div class="col-md-6">
                    <label><%=: 'Price' | translate %></label>
                    <input type="text" name="price">
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>description<%=: '' | translate %></label>
                    <textarea class="form-control create-texterea" rows="5" id="comment" name="description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 btn-upload"><a class="btn btn-default"
                                                    id="btn_choosefile"><%=: 'upload image' | translate %></a></div>

                <input type="hidden" name="imageUrl">
                <div class="col-md-8">
                    <label><%=: 'upload image' | translate %></label>

                    <div id="uploader">
                        <div id="drop_element" class="draging-box">
                            DRAG IMAGE OR FILE
                        </div>
                        <img src="" id="uploadedFile" style="display: none">
                        <input type="hidden" name="image" id="imageUrl">
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center; margin: 50px 0;">
                    <button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary"
                            autocomplete="off">
                        <%=: 'save' | translate %>
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

        </form>
    </div>
</article>

<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/public/bower_components/plupload/js/plupload.full.min.js"></script>
<script>
    window.JalaliDate = Date;
</script>


<script>
    var uploader = new plupload.Uploader({
        container: document.getElementById('uploader'),
        browse_button: 'btn_choosefile',
        runtimes: 'html5,flash,silverlight,html4',
        url: "/api/upload",
        filters: [
            {title: "Image files", extensions: "jpg,gif,png"},
        ],
        drop_element: 'drop_element',
        dragdrop: true,

        init: {
            FileUploaded: function (file, up, res) {
                debugger;

                var fileInfo = JSON.parse(res.response);

                $('#imageUrl').val(fileInfo.fileName);
                $('#uploadedFile').attr('src', fileInfo.displayFileName);
                debugger;
                $('#uploadedFile').show();
                debugger;
            },
            FilesAdded: function (up, file) {
                debugger;
                up.start();
            }
        }
    });
    uploader.init();
    </script>

<!--loading-->
<script>
    debugger;
    $('.create-slide').submit(function(){
        debugger;
        $('#gif').css('visibility' , 'visible');
        debugger
        $('button:submit').attr("disabled", true);
        debugger;
        return true
    })


</script>